= form_tag documents_path do

  .form-group
    = label_tag 'document[name]', "Název dokladu"
    = text_field_tag 'document[name]', nil, :class => 'form-control', :placeholder => "Např. Faktura číslo 1234567"

  .form-group
    = label_tag :variants_tokens, "Výběr položek z variant produktů"
    = text_field_tag :variants_tokens, nil, :class => 'form-control item-input', :placeholder => "vyberte"
  %br
  .pull-left
    = submit_tag "uložit", :class => 'btn btn-default'
