= simple_form_for  @product do |f|
  .form-group
    = f.label "Název"
    = f.input :name, :label => false, :class => 'form-control'
  .form-group
    = f.label "Popis"
    = f.input :description, :label => false, :class => 'form-control'
  .form-group
    = f.label "Obrázek produktu"
    = f.input :picture, as: :file, :label => false, :class => 'form-control'
  .form-group
    = f.label "Varianty:"


  %a#addScnt{:href => "#"} Přidat další variantu
  %table.dynatable
    %thead
      %tr
        %th Název varianty
        %th
    %tbody#p_scents
      - @product.variants.each do |variant|
        = f.fields_for variant do |ilf|
          = ilf.hidden_field :id
          %tr
            %td= ilf.input :name, :label => false

            %td
              = link_to fa_icon('trash', :text => "Smazat"), :id => 'js-remove-product-variant'


  .pull-left
    = f.submit "Uložit", :class => 'btn btn-default'
