.headers
  %h2= @product.name

%h4="Popis produktu:"

= @product.description

.pull-right
  - if @product.picture.present?
    = image_tag @product.picture(:medium)
  - else
    = image_tag 'medium/missing.png'

%h4="Dostupné varianty:"

.variants
  = render  'variants/variants'

